.container{
    width: 80%;
    margin: auto;
}
.row{
    display: flex;
    align-items: center;
}
.col{
    width: 50%;
    padding: 1rem;
}
.text-primary{
    color: #7E4ED3;
}
.btn{
    color: #fff;
    padding: 0.6rem 2rem;
    display: block;
    background: #7E4ED3;
    width: max-content;
    border-radius: 1rem;
    cursor: pointer;
}
.ligth-detail, .dark-detail{
    position: relative;
    margin-bottom: 2rem;

}
.ligth-detail:after{
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 27px;
    height: 2px;
    background: #fff;
    border-radius: 100rem;
}
.dark-detail:after{
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 27px;
    height: 2px;
    background: #000;
    border-radius: 100rem;
}